

<div #sceneContainer style="width: 100vw; height: 70vh; margin: 0px auto;"></div>

<div style="width: 100vw; height: 30vh; border-top: 1px solid #333; background-color:#111; padding: 20px; color: #ddd; overflow: scroll;">
  
  <!--- sliders -->

  <!--- knobs  -->
  <flex-row-around>
<flex-col>{{ midi.knobs['R1'] | decimalToPercent }}% </flex-col>
<flex-col>{{ midi.knobs['R2'] | decimalToPercent }}% </flex-col>
<flex-col>{{ midi.knobs['R3'] | decimalToPercent }}% </flex-col>
<flex-col>{{ midi.knobs['R4'] | decimalToPercent }}% </flex-col>

<flex-col>{{ midi.knobs['R5'] | decimalToPercent }}% </flex-col>
<flex-col>{{ midi.knobs['R6'] | decimalToPercent }}% </flex-col>
<flex-col>{{ midi.knobs['R7'] | decimalToPercent }}% </flex-col>
<flex-col>{{ midi.knobs['R8'] | decimalToPercent }}% </flex-col>
  </flex-row-around>


<!-- SONG PLAYING -->
<div style="height: 40px;"></div>

<button (click)="midi.player.start()">play</button>
<button (click)="midi.player.stop()">stop</button>

<button *ngFor="let song of midi.songList" (click)="midi.playSong( song )">{{ song.name }}</button>

</div>



