

<div #sceneContainer style="width: 100vw; height: 70vh; margin: 0px auto;"></div>

<div style="width: 100vw; height: 30vh; background-color:#333; padding: 20px; color: white; overflow: scroll;">
  
  <!--- knobs -->
  
    <span>R1 (jump s): {{ jumpA }}</span>
    <span>R2 (jump ms): {{ jumpMS }}</span>
    <span>R3 (jumst height) {{ jumpHeight }}</span>


<!-- SONG PLAYING -->

<button (click)="midi.player.start()">play</button>
<button (click)="midi.player.stop()">stop</button>

<button *ngFor="let song of midi.songList" (click)="midi.playSong( song )">play {{ song.name }}</button>


<!-- THINGS -->
<h2>Things in this show</h2>

</div>



