<h1> hello colors</h1>

camera fov
<app-slider [from]="0" [to]="360" [val]="camera.fov"
  (onChange)="camera.fov = $event; camera.updateProjectionMatrix()"></app-slider>

camera x
<app-slider [from]="-100" [to]="100" [val]="camera.position.x"
  (onChange)="camera.position.x = $event"></app-slider>

directional intensity
<app-slider [from]="0" [to]="5" [step]="0.05" [val]="1" 
  (onChange)="directional.intensity = $event"
></app-slider>

ambient intensity {{ ambient.intensity }}
<app-slider [from]="0" [to]="5" [step]="0.05" [val]="1" 
  (onChange)="ambient.intensity = $event"
></app-slider>

<app-toggle
  [val]="ambient.visible"
  (onChange)="ambient.visible = $event;"
></app-toggle>

<div #sceneContainer style="width: 100vw; height: 70vh; margin: 0px auto;"></div>

<flex-row>
  <flex-col *ngFor="let chord of chords()">
    <flex-col style="margin: 20px; overflow:hidden;">
      <flex-row [style.background-color]="hslaString(chord.self)" style="width: 200px; height: 100px;"><b>{{ chord.self }}</b><br> h: {{ HSLAs[chord.self].h }}, s: {{ HSLAs[chord.self].s }}, l: {{ HSLAs[chord.self].l }} </flex-row>
      <flex-row [style.background-color]="hslaString(chord.third)" style="width: 200px; height: 100px;">{{ chord.third }}<br> h: {{ HSLAs[chord.third].h }}, s: {{ HSLAs[chord.third].s }}, l: {{ HSLAs[chord.third].l }}  </flex-row>
      <flex-row [style.background-color]="hslaString(chord.fifth)" style="width: 200px; height: 100px;">{{ chord.fifth }}<br> h: {{ HSLAs[chord.fifth].h }}, s: {{ HSLAs[chord.fifth].s }}, l: {{ HSLAs[chord.fifth].l }} </flex-row>
    </flex-col>
  </flex-col>
</flex-row>



<div *ngFor="let note of noteNames">
  {{ note }}
  <input type="range" [(ngModel)]="HSLAs[note].h" min="-1" max="1" step="0.01" />
  <input type="range" [(ngModel)]="HSLAs[note].s" min="-1" max="1" step="0.01" />
  <input type="range" [(ngModel)]="HSLAs[note].l" min="-1" max="1" step="0.01" />
</div>


<flex-row style="background-color: #333;">

  <flex-col *ngFor="let note of baseKeyboard.notes" (click)="fakeKeypress($event, note)" [style.background-color]="note.iAmSelf ? hslaString(note.name) : 'transparent'"
    style="border: 1px solid black; ">
    <h1>{{ note.name}}</h1>
    {{ note.octave }} {{ note.midiKey }}

    <div [style.background-color]="note.iAmSelf ? hslaString(note.name) : 'transparent'">self</div>
    <div [style.background-color]="note.iAmThird ? hslaString(note.name): 'transparent'">third from played</div>
    <div [style.background-color]="note.iAmFifth ? hslaString(note.name): 'transparent'">fifth from played</div>

    <div [style.background-color]="note.isMyThird ? hslaString(note.name): 'transparent'">is my thrid</div>
    <div [style.background-color]="note.isMyFifth ? hslaString(note.name): 'transparent'">is my fifth</div>

  </flex-col>

</flex-row>