/* You can add global styles to this file, and also import other style files */
body {
	margin: 0;
	padding: 0;
	font-family: Courier New, Courier, monospace;
	font-size: 16px;
}

button {
	background-color: black;
	color: white;
	font-family: Courier New, Courier, monospace;
	border: 0;
	font-size: inherit;
	padding: 15px;
	border: 1px solid #222;
}

flex-row {
	display: flex;
}
flex-row-center {
	display: flex;
	justify-content: center;
}
flex-row-around {
	display: flex;
	justify-content: space-around;
}

flex-col {
	display: flex;
	flex-direction: column;
}
flex-col-center {
	flex-direction: column;
	display: flex;
	align-items: center;
}